<nav>
    <mat-toolbar color="primary">
        <span>Currency Converter</span>
        <span class="example-spacer"></span>
        <button routerLink="/currency-converter"  mat-icon-button matTooltip="Conversor de Moedas">
          <mat-icon>currency_exchange</mat-icon>
        </button>
        <button routerLink="/currencies" mat-icon-button matTooltip="Moedas">
          <mat-icon>lists</mat-icon>
        </button>
        <button routerLink="/converter-history" mat-icon-button matTooltip="Histórico de Conversões">
            <mat-icon>saved_search</mat-icon>
        </button>
    </mat-toolbar>
</nav>