<mat-form-field>
    <mat-label>Digite seu termo de pesquisa</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. BRL" #input>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID da conversão Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td data-th="ID" mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Data da conversão Column -->
        <ng-container matColumnDef="dateConverter">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Data da Conversão </th>
            <td data-th="Data da Conversão" mat-cell *matCellDef="let row"> {{row.dateConverter}} </td>
        </ng-container>
    
        <!-- Horário da conversão Column -->
        <ng-container matColumnDef="timeConverter">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora da Conversão </th>
        <td data-th="Hora da Conversão" mat-cell *matCellDef="let row"> {{row.timeConverter}} </td>
        </ng-container>

        <!-- Valor informado Column -->
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Informado </th>
            <td data-th="Valor Informado" mat-cell *matCellDef="let row"> {{row.value}} </td>
        </ng-container>

        <!-- Moeda Selecionada Column -->
        <ng-container matColumnDef="fromCurrency">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Moeda Selecionada </th>
            <td data-th="Moeda Selecionada" mat-cell *matCellDef="let row"> {{row.fromCurrency}} </td>
        </ng-container>

        <!-- Moeda Convertida Column -->
        <ng-container matColumnDef="toCurrency">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Moeda Convertida </th>
            <td data-th="Moeda Convertida" mat-cell *matCellDef="let row"> {{row.toCurrency}} </td>
        </ng-container>

        <!-- Resultado Column -->
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Resultado </th>
            <td data-th="Resultado" mat-cell *matCellDef="let row"> {{row.amount}} </td>
        </ng-container>

        <!-- Taxa Column -->
        <ng-container matColumnDef="rate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Taxa </th>
            <td data-th="Taxa" mat-cell *matCellDef="let row"> {{row.rate}} </td>
        </ng-container>

        <!-- Acões Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Ação </th>
            <td data-th="Ação" mat-cell *matCellDef="let row">
                <mat-icon (click)="onDelete(row)" matTooltip="Excluir o item">delete</mat-icon>
            </td>
        </ng-container>

        <tr class="head-history-table" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr 
            mat-row 
            [class.alter-color-row]="row.value >= 10000"
            *matRowDef="let row; columns: displayedColumns;"
        ></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Nenhum dado correspondente ao seu termo de pesquisa.</td>
        </tr>
    </table>    

    <mat-paginator 
        [pageSizeOptions]="[5, 10, 25, 100]" 
        aria-label="Select page of users">
    </mat-paginator>
</div>